* {
    margin: 0px;
    padding: 0px;
    font-family: 'Share Tech', sans-serif;
}

#pokebola {
    position: absolute;
    width: 50vh;
    height:50vh;
    z-index: -999;
    filter: opacity(0.3);
    
}